/*--------------------------------------------------------------
# baese-menu Section
--------------------------------------------------------------*/
#base-menu {
    width: 100%;
    height: 5vh;/*originalmente estaba en 80vh*/
    background: #37517e;
  }
/*--------------------------------------------------------------
margin top de 20
--------------------------------------------------------------*/
.titulos{
    margin-top:30px;
    margin-bottom: 40px;
}
/*--------------------------------------------------------------
margin top de 10
--------------------------------------------------------------*/
.margen-top-10{
    margin-top:10px;
}
/*--------------------------------------------------------------
margin top de 10
--------------------------------------------------------------*/




